/* MODAL PORTFOLIO */

.modalOverlay {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.2);
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
  }

.modal {
	background-color: #FFF;
	margin: 5% auto;
	width: 80%; /* Could be more or less, depending on screen size */

	display: none;
	flex-direction: column;
	align-items: center;
	position: fixed;
	/* Stays in place */
	z-index: 1; 
	height: 70%; 
	overflow: auto; /* Enable scroll if needed */

	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 610px;
	border-radius: 10px;
  }
  
.modal h3 {
	color: black;
	text-align: center;
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
	margin-top: 10px;
}

.addPhotoBtn{
	width: 230px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#1D6154;
	border-radius: 60px;
	margin-top: 40px;
	margin-bottom: 25px;
}

.addPhotoBtn:hover{
	filter: brightness(1.1);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.addPhotoBtn p{
	font-family: 'Syne';
	color: white;
	font-weight: 700;
}

.modal hr{
	color: #B3B3B3;
	border: 1px solid #B3B3B3;
	width: 420px;
	height: 0px;
	margin-top: -10px;
}

.close {
	align-self: flex-end;
	color: black;
	font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
	margin-right: 30px;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
	scale: 1.2;
}

/* MODAL GALLERY */

.modal-gallery{
	width: 450px;
	max-height: 53%;
	height: 53%;
	margin-top: 47px;
	margin-bottom: 47px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.figureModal {
	position: relative;
}
.imgModal{
	max-width: 78px;
	max-height: 108px;
}
.figCaptionModal{
	font-size: 12px;
}
.figureContainer{
	width: 17px;
	height: 17px;
	background-color: #000000;
	position: absolute;
}

.trashContainer{
	top: 8px;
	right: 5px;
}

.figureContainer i{
	color:#FFFFFF;
	position: absolute;
	top: 3px;
	right:3.5px;
	font-size: 11px;
	background-color: black;
	color: white;
}

.figureContainer:hover,
.figureContainer:focus {
	cursor: pointer;
	scale: 1.2;
}

/* END OF MODAL PORTFOLIO */

/* MODAL ADD PHOTO */

.photoModal {
	background-color: #FFF;
	margin: 5% auto;
	width: 80%; 

	display: none;
	flex-direction: column;
	align-items: center;

	position: fixed;
	z-index: 1; 
	height: 70%; 
	overflow: auto;
	/* Enable scroll if needed */

	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 610px;
	border-radius: 10px;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
}

.photoModal .arrow {
    align-self: flex-start;
    color: black;
    font-size: 25px;
    left: 25px;
    cursor: pointer;
    position: relative;
    top: 10px;
}

.photoModal .arrow:hover {
	scale: 1.2;
}

.photoModal .closeBtn {
    align-self: flex-end;
    color: black;
    font-size: 35px;
    font-weight: bold;
    margin-right: 25px;
    cursor: pointer;
} 

.photoModal .closeBtn:hover{
	color: black;
	text-decoration: none;
	cursor: pointer;
	scale: 1.2;
}

.photoModal h3 {
	color: black;
	text-align: center;
    font-family: 'Work Sans';
    font-size: 26px;
    margin-top: 35px;
    font-weight: 400;
}

/* AJOUT PHOTO THUMBNAIL, FORM, IMG PREVIEW, ... */
.addPhotoForm {
	display: flex;
    flex-direction: column;
	margin-top: 40px;
	gap: 15px;
  }

  .addPhotoForm input,
  .categorySelect {
	font-size: 14px;
    font-family: 'Work Sans';
    padding-left: 15px;
    font-weight: 400;
    color: #444444;

	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
  }

.titleLabel{
	margin-top: 25px;
}

  .addPhotoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 420px;
    height: 165px;
	background-color: #E8F1F7;
	border-radius: 3px;
  }

  .thumbnail {
	position: absolute;
    font-size: 60px;
    color: #B9C5CC;
    top: 20px;
}

.addPhotoButtonText{
	position: relative;
    display: inline-block;
    background-color: #CBD6DC;
    color: #306685;
    text-align: center;
	font-weight: 500;
	line-height: 35px;
	font-family: 'Syne';
    width: 170px;
    height: 35px;
    border-radius: 50px;
    top: 22px;
    cursor: pointer;
}

.addPhotoDescription {
    position: absolute;
    top: 125px;
    font-size: 10px;
}


.uploadPhotoButton{
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}

.photoModal hr {
    position: absolute;
    bottom: 130px;
	color: #B3B3B3;
	border: 1px solid #B3B3B3;
	width: 420px;
	height: 0px;
	margin: auto;
}
/* see if we can put the two HR together later ? */

.sendButton{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #A7A7A7;
    font-size: 15px;
	margin-top: 80px;
	margin-left: 90px; /* to change later - so that it's centered */
	width: 235px;
	height: 35px;
	border-radius: 60px;
	border: 0;
}

.sendButton:hover{
	filter: brightness(1.1);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.sendButtonText{
	color: #FFFFFF;
	font-family: 'Syne';
}

.imagePreview {
	position: absolute;
    top: 0;
	height: 165px;
    max-width: 420px;
    object-fit: cover;
    z-index: 1;
}

/* END MODAL ADD PHOTO*/

/*  TO DO :
- centrer ".sendbutton" 
*/
