/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	background-color: #FFFEF8;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

a {
	text-decoration: none;
    cursor: pointer;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li{
	text-decoration: none;
}

li:hover {
	color: #B1663C;
	text-decoration: none;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* LOGIN HTML */

#login_container {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	gap: 40px;
}

#login_form {
	display: flex;
	flex-direction: column;
}

label[for="password"], label[for="email"] {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
}

label[for="password"] {
	margin-bottom: 8px;
	margin-top: 20px;
}

label[for="email"] {
	margin-bottom: 8px;
}

#password, #email {
	width: 380px;
	height: 50px;
	border: transparent;
	background: #FFF;
	box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.09);
}

.connect-button {
	font-size : 16px;
	font-style : normal;
	border: 1px solid #1D6154;
	padding: 10px 15px;
	cursor: pointer;
}

#lost_password {
	font-family: 'Work Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	text-decoration:underline;
	text-decoration-line: underline;
	margin-bottom: 355px;
	margin-top: -35px;
}

/* HOMPAGE */

.main_container {
	max-width: 1140px; /* Apply your default max-width */
	margin: 0 auto; /* Center the content within the page */
}

/* HOMEPAGE FILTERS */

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
	margin-bottom: 50px;
}

.btn_filters {
	display: flex;
    align-items: center;
	font-size: 18px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
	border: solid #1D6154 1px;
	border-radius: 50px;
	color: #1D6154;
	height: 35px;
	cursor: pointer;
	padding: 0 15px 0 15px;
}

.btn_filters:hover {
	background: #1D6154;
	color: #ffffff;
}

.btn_active {
	background: #1D6154;
	color: #ffffff;
}

/* HOMEPAGE BUTTONS MODIFY */

.btn_portfolio {
	display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
	font-size: 15px;
	font-weight: 200;
	width: 15px;
	height: 15px;
}

/* edition mode, black thingy at the top of homepage */

.edition_mode {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	line-height: normal;
	background-color: black;
	text-align: center;
	height: 5em;
}

.edition_mode p {
	color: white ;
}
.edition_mode p,
.edition_mode button{
	font-family: 'Work sans';
	font-size: 14px;
}


.edition_mode .fa-pen-to-square {
color: white;
}
/* end of edit mode */

/* MODAL PORTFOLIO */
/* The Modal (background) */
.modal {
	display: none; 
	/* Stays in place */
	position: fixed;
	z-index: 1; 
	width: 100%; 
	height: 70%; 
	overflow: auto; /* Enable scroll if needed */
	background-color: #FFF;

	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 610px;
	border-radius: 10px;
  }
  
/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto;
width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content h3 {
	color: black;
	text-align: center;
    font-family: 'Work Sans';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	margin-top: 10px;
}

/* The Close Button */
.close {
	color: black;
	float: right;
	font-size: 26px;
    font-weight: bold;
    margin-top: -10px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* ALL PAGES - little details */

li.legal_mentions {
	font-size: 1em;
	padding-top: 20px;
}